@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Domine:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Meow+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}
.label {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.input {
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: 1px solid black;
  font-weight: 400;
  border-radius: 0.5em;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}
.input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
}

.font-meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.font-libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}

.linearBlackBackground {
  background: linear-gradient(transparent, #000000);
}

.linearWhiteBackground {
  background-image: radial-gradient(ellipse farthest-side at center, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 0%, 0) 100%);
}

.backgroundImage {
  background-image: linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.216)), url("./assets/images/robert-zunikoff-ebno_NwaOns-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.backdropClass {
  backdrop-filter: blur(10px);
}

@keyframes bounceArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.group-hover:animate-bouncearrow {
  animation: bounceArrow 0.5s ease-in-out infinite;
}
